<h2>Seja um Incrível</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <br/>
  <div class="field">
    <%= f.label :Email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <br/>
  <div class="field">
    <%= f.label :Senha %>
    <% if @minimum_password_length %>
    <em>(No minímo <%= @minimum_password_length %> caracteres)</em><br/>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <br/>
  <div class="field">
    <%= f.label :Confirmação_de_senha %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <br/>
  <div>
    <%= f.label :Pessoa_Física_ou_Pessoa_Jurídica %>
    <%= f.select :pf_pj, pfpj %>
  </div>
  
  <br/>
  <div>
     <%= f.label :Nome_completo %>
     <%= f.text_field :fullname, autofocus: true %>
  </div>

  <br/>
  <div>
  <%= f.label :CPF %>
  <%= f.text_field :cpf, autofocus: true %>
  </div>

  <br/>
  <div>
  <%= f.label :CNPJ %>
  <%= f.text_field :cnpj, autofocus: true %>
  </div>

  <br/>
  <div>
  <%= f.label :Razão_social %>
  <%= f.text_field :razaosocial, autofocus: true %>
  </div>

  <br/>
  <div>
  <%= f.label :CEP %>
  <%= f.text_field :cep, autofocus: true %>
  </div>

  <br/>
  <div>
    <%= f.label :Estado %>
    <%= f.select :estado, states %>
  </div>

  <br/>
  <div>
  <%= f.label :Rua %>
  <%= f.text_field :rua, autofocus: true %> 
  </div>

  <br/>
  <div>
  <%= f.label :Bairro %>
  <%= f.text_field :bairro, autofocus: true %>
  </div>

  <br/>
  <div>
  <%= f.label :Cidade %>
  <%= f.text_field :cidade, autofocus: true %>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit "Registrar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
