<h2 class=fonte-cadastro> Opa, ficamos feliz que você chegou até aqui, </br> agora venha se Cadastrar! </h2>

<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

  <br />
  <div class="container bg-white container-login justify-content-center">
    </br>
    </br>

    <div class="row">
      <div class="col-sm field">

        <%= f.label :email, values = "Email", :class => "fonte-label", :style => "margin-right: 250px"%>

        <div class="col-sm field">
          <%= f.email_field :email, autofocus: true, autocomplete: "Email", :class => "caixa-de-texto borda-caixa-texto", :placeholder => "exemplo@youse.com.br"%>


          </br>
          </br>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-sm field">
        <%= f.label :password , value = "Senha", :class => "fonte-label" , :style => "margin-right: 250px"%>


        <div class="col-sm field">
          <%= f.password_field :password, autocomplete: "Senha", :class => "caixa-de-texto borda-caixa-texto" , :placeholder => "Ex: @Youser123"%>
          <small id="emailHelp" class="form-text text-muted">A senha deve conter 8 Caracteres: Letra Maiúscula e
            </br> Minúscula,
            Caracter especial e Número</small>
        </div>
        </br>

      </div>
    </div>

    <div class="row">
      <div class="col-sm field">
        <%= f.label :Confirmação_de_senha, value = "Confirmação de senha", :class => "fonte-label" , :style => "margin-right: 90px"%>

        <div class="col-sm field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , :class => "caixa-de-texto borda-caixa-texto" , :placeholder => "Confirme sua senha"%>

        </div>
        </br>

      </div>
    </div>



    <div class="row">

      <div class="col-sm field">
        <%= f.label :Pessoa_Física_ou_Pessoa_Jurídica, value = "Tipo de Cadastro" ,:class => "fonte-label" , :style => "margin-right: 140px"%>

        </br>
        <div class="col-sm field">
          <%= f.select :pf_pj, pfpj%>

        </div>
        </br>

      </div>
    </div>

    <div id="esc_nomec" style = "display:none;">
      <div class="row">
        <div class="col-sm field">
          <%= f.label :Nome_completo, value = "Nome Completo" ,:class => "fonte-label" , :style => "margin-right: 145px"%>

          <div class="col-sm field">
            <%= f.text_field :fullname, autofocus: true, :class => "caixa-de-texto borda-caixa-texto", :placeholder => "Ex: Youser da Silva Moraes"%>

          </div>
          </br>
        </div>
      </div>
    </div>

    <div id="esc_cpf" style = " display:none;">
      <div class="row">
        <div class="col-sm field">
          <%= f.label :CPF, value = "CPF" ,:class => "fonte-label" , :style => "margin-right: 270px"%>

          <div class="col-sm field">
            <%= f.text_field :cpf, autofocus: true, :class => "caixa-de-texto borda-caixa-texto", :placeholder => "000.000.000-00"%>

      </br>
      <div class="col-sm field">
          <select id="pf_pj" name="pf_pj">
              <option value="PF">Pessoa Física</option>
              <option value="PJ">Pessoa Jurídica</option>
          </select>
          </div>
          </br>
        </div>
      </div>
    </div>

    <div id="esc_razao" style = " display:none;">
        <div class="row">
          <div class="col-sm field">
            <%= f.label :Razão_social , value = "Razão Social" ,:class => "fonte-label" , :style => "margin-right: 180px"%>
  
            <div class="col-sm field">
              <%= f.text_field :razaosocial, autofocus: true, :class => "caixa-de-texto borda-caixa-texto", :placeholder => "Ex: Youse Seguradora S.A"%>
  
            </div>
            </br>
          </div>
        </div>
      </div>
      
    <div id="esc_cnpj" style = " display:none;">
      <div class="row">
        <div class="col-sm field">
          <%= f.label :CNPJ, value = "CNPJ" ,:class => "fonte-label" , :style => "margin-right: 250px"%>

 <div id="esc_nomec" style="display:none;">
  <div class="row">
    <div class="col-sm field">
      <%= f.label :Nome_completo, value = "Nome Completo" ,:class => "fonte-label" , :style => "margin-right: 145px"%>
          <div class="col-sm field">
            <%= f.text_field :cnpj, autofocus: true, :class => "caixa-de-texto borda-caixa-texto", :placeholder => "00.000.000/0000.00"%>

          </div>
          </br>
        </div>
      </div>
    </div>

 

    <div class="row">
      <div class="col-sm field">
        <%= f.label :CEP, value = "CEP" ,:class => "fonte-label" , :style => "margin-right: 270px"%>

        <div class="col-sm field">
          <%= f.text_field :cep, autofocus: true, :class => "caixa-de-texto borda-caixa-texto", :placeholder => "00000-000"%>

        </div>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm field">
        <%= f.label :Estado, value = "Estado" ,:class => "fonte-label" , :style => "margin-right: 240px"%>
        </br>
        <div class="col-sm field">
          <%= f.select :estado, states, autofocus: true, :class => "caixa-de-texto borda-caixa-texto"%>

        </div>
        </br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm field">
        <%= f.label :Cidade, value = "Cidade",:class => "fonte-label" , :style => "margin-right: 230px"%>

        <div class="col-sm field">
          <%= f.text_field :cidade, autofocus: true , :class => "caixa-de-texto borda-caixa-texto", :placeholder => "Ex: São Paulo"%>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm field">
        <%= f.label :Bairro, value = "Bairro",:class => "fonte-label" , :style => "margin-right: 240px"%>

        <div class="col-sm field">
          <%= f.text_field :bairro, autofocus: true, :class => "caixa-de-texto borda-caixa-texto", :placeholder => "Ex: Itaim Bibi"%>

        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-sm field">
        <%= f.label :Rua, value = "Rua",:class => "fonte-label" , :style => "margin-right: 265px"%>

        <div class="col-sm field">
          <%= f.text_field :bairro, autofocus: true, :class => "caixa-de-texto borda-caixa-texto", :placeholder => "Ex: Av.Brg. Faria Lima"%>

        </div>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm field">
        <%= f.label :Número , value = "Número",:class => "fonte-label" , :style => "margin-left: -220px"%>

        <div class="col-sm field">
          <%= f.text_field :numero, autofocus: true, :class => "caixa-de-texto borda-caixa-texto", :placeholder => "Ex: 4285"%>

        </div>
        </br>
      </div>
    </div>


    <div class="row">
      <div class="col-sm field justify-content-center">
        <%= f.submit "FINALIZAR", :class => "btn botao"%>
      </div>
    </div>
    </br>

    <% end %>

    <script type="text/javascript">

      $(document).ready(function () {
        $("#user_cep").focusout(function () {
          //Início do Comando AJAX
          $.ajax({
            //O campo URL diz o caminho de onde virá os dados
            //É importante concatenar o valor digitado no CEP
            url: 'https://viacep.com.br/ws/' + $(this).val() + '/json/unicode/',
            //Aqui você deve preencher o tipo de dados que será lido,
            //no caso, estamos lendo JSON.
            dataType: 'json',
            //SUCESS é referente a função que será executada caso
            //ele consiga ler a fonte de dados com sucesso.
            //O parâmetro dentro da função se refere ao nome da variável
            //que você vai dar para ler esse objeto.
            success: function (resposta) {
              //Agora basta definir os valores que você deseja preencher
              //automaticamente nos campos acima.
              $("#user_rua").val(resposta.logradouro);
              $("#complemento").val(resposta.complemento);
              $("#user_bairro").val(resposta.bairro);
              $("#user_cidade").val(resposta.localidade);
              $("#user_estado").val(resposta.uf);
              //Vamos incluir para que o Número seja focado automaticamente
              //melhorando a experiência do usuário
              //$("#numero").focus();
            }
          });
        });
      });
      $(document).ready(function () {
        $('#user_cpf').mask('000.000.000-00');
        $('#user_cep').mask('00000-000');
        $('#user_cnpj').mask('00.000.000/0000-00');
      });

  
$(document).ready(function (){
      $("#user_pf_pj").change(function() {
          if ($(this).val() === "PF") {
              $("#esc_razao").hide();
              $("#esc_cnpj").hide();
              $("#esc_nomec").show();
              $("#esc_cpf").show();
          } else {
              $("#esc_razao").show();
              $("#esc_cnpj").show();
              $("#esc_nomec").hide();
              $("#esc_cpf").hide();
          }
      });
  });
    </script>


    <%= link_to "Voltar", new_session_path(resource_name), :class => "link"%><br />
    </br>
