<br>
<br>
<br>
<br>

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>

<h1>Lista de Usuários</h1>

<table class="table table-striped" id="mytable">
  <thead>
    <th scope="col">Nome</th>
    <th scope="col">Razao Social</th>
    <th scope="col">CPF</th>
    <th scope="col">CNPJ</th>
    <th scope="col">Email</th>
    <th scope="col">ADM</th>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><% if user.fullname.nil? %>
          -
          <% else %>
          <%= user.fullname %>
          <% end %>
        </td>

        <td><% if user.razaosocial.nil? %>
          -
          <% else %>
          <%= user.razaosocial %>
          <% end %>
        </td>

        <td><% if user.cpf.nil? %>
          -
          <% else %>
          <%= user.cpf %>
          <% end %>
        </td>

        <td><% if user.cnpj.nil? %>
          -
          <% else %>
          <%= user.cnpj %>
          <% end %>
        </td>

        <td><%= user.email %></td>

        <td><% if user.adm  %>
          ADM
          <% else %>
          Usuário
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">

  $(document).ready(function () {
    $('#mytable').DataTable({
      "paging":false,
      "bInfo" : false,
      "oLanguage": {
        "sEmptyTable":     "Nenhum registro encontrado na tabela",
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar: "
      }
    });
  });

</script>