<h2 class= "fonte-titulo"> Esqueceu sua senha? </h2>
</br>



<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container bg-white container-mudar-senha justify-content-center">
  </br>
</br>
  <div class="row">
    <div class="col-sm field">
     
      <%= f.label :email, values = "Email", :class => "fonte-label", :style => "margin-right: 250px"%>
    
      <div class="col-sm field" data-placement="left" data-trigger= "manual"  data-toggle="popover" data-content="O email deve ser @youse.com.br" id ="text-esque">
        <%= f.email_field :email, autofocus: true, autocomplete: "Email", :class => "caixa-de-texto-login borda-caixa-texto", :placeholder => "exemplo@youse.com.br", :id => "user_esque"%>

    </div>
  </div>
</div>

  <div class="row actions justify-content-center">
    <%= f.submit "REDEFINIR AS INSTRUÇÕES DE SENHA", :class => "btn botao", :style => "width: 300px;", :id => "botao_rede"%>
  </div>

<% end %>
</br>
<%= link_to "Voltar", new_session_path(resource_name), class: "link back-link" %> </br> </br>
<%= link_to "Primeiro acesso", new_registration_path(resource_name), :class => "link"%>

<img src="<%= image_url('icon.png') %>" class="d-inline-block align-top alerta" 
  alt="icone-senha">

</div>

<script>
  document.getElementById("botao_rede").disabled = true;
 $(document).ready(function () {
jQuery(function () {
    $("#user_esque").keyup(function () {
      if($(this).val().length > 0){
        var VAL = this.value;

        var email = new RegExp('^[a-z0-9](\.?[a-z0-9])+@youse.com.br$');

        if (email.test(VAL)) {
        
          $(this).css("border-color", "green");
          $('#text-esque').popover('hide')
          document.getElementById("botao_rede").disabled = false;
        }
        else {
          $(this).css("border-color", "red");
          $('#text-esque').popover('show')
          document.getElementById("botao_rede").disabled = true;
        }
      }
      else{
        $(this).css("border-color", "rgb(132, 46, 176)");
        document.getElementById("botao_rede").disabled = true;
        $('#text-esque').popover('hide')
      }
    });
  });
});



</script>
