
<h2 class= "fonte-titulo"> Esqueceu sua senha? </h2>
</br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="container bg-white container-senha justify-content-center">
  </br>
</br>
  <div class="row">
    <div class="col-sm field">
     
      <%= f.label :email, values = "Email", :class => "fonte-label", :style => "margin-right: 250px"%>
    
      <div class="col-sm field">
        <%= f.email_field :email, autofocus: true, autocomplete: "Email", :class => "caixa-de-texto-login borda-caixa-texto", :placeholder => "exemplo@youse.com.br"%>

    </div>
  </div>
</div>

  <div class="row actions justify-content-center">
    <%= f.submit "REDEFINIR AS INSTRUÇÕES DE SENHA", :class => "btn botao", :style => "width: 300px;"%>
  </div>

<% end %>
</br>

<%= link_to "Cadastrar-se", new_registration_path(resource_name), :class => "link"%>

<img src="<%= image_url('icon.png') %>" class="d-inline-block align-top alerta" 
  alt="icone senha">

</div>
