<h2 class= "fonte-titulo"> Esqueceu sua senha? </h2>
</br>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container bg-white container-mudar-senha justify-content-center">
  </br> 
  </br>
  <div class="row">
    <div class="col-sm field">
      <%= f.label :email, values = "Email", :class => "fonte-label", :style => "margin-right: 250px"%>
      <div class="col-sm field" data-placement="left" data-trigger= "manual"  data-toggle="popover" data-content="Não temos cadastro com este email por aqui!" id ="exist-esque">
      </div>
      <div class="col-sm field" data-placement="left" data-trigger= "manual"  data-toggle="popover" data-content="O email deve ser no formato @youse.com.br" id ="text-esque">
        <%= f.email_field :email, autofocus: true, autocomplete: "Email", :class => "caixa-de-texto-login borda-caixa-texto", :placeholder => "exemplo@youse.com.br", :id => "user_esque"%>
        <%# <small id="fullnameHelp" class="form-text text-muted">Lembre-se: Aceitamos apenas emails
        </br> com o formato "...@youse.com.br" ;)</small> %>
      </div>
    </div>
  </div>
  <div class="row actions justify-content-center">
    <%= f.submit "REDEFINIR AS INSTRUÇÕES DE SENHA", :class => "btn botao", :style => "width: 300px; !important", :id => "botao_rede"%>
  </div>
  <% end %>
  </br>
  <%= link_to "Primeiro acesso", new_registration_path(resource_name), :class => "link"%>
  </br> 
  </br>
  <%= link_to "Voltar", new_session_path(resource_name), class: "link back-link" %>
  <img src="<%= image_url('icon.png') %>" class="d-inline-block align-top alerta respon" alt="icone-senha" zindex="-3  ">
</div>
<script>
  // Desabilitando botão por padrão.
  document.getElementById("botao_rede").disabled = true;
  $(document).ready(function () {
    $("#user_esque").keyup(function () {
      // Se houver algo escrito.
      if($(this).val().length > 0){
        // Atribuindo valor a uma variável.
        var VAL = this.value;
        // Atribuindo um Regex para o email.
        var email = new RegExp('^[a-z0-9](\.?[a-z0-9])+@youse.com.br$');
        // Email válido.
        if (email.test(VAL)) {
          // Checkando se contém o email no banco de dados.
          $.post('/checkemail?email='+$("#user_esque").val(),function(data){
            // Caso este email não exista no banco de dados.
            if(!data.email_exists){
              $('#exist-esque').popover('show');
              $('#text-esque').popover('hide');
              $($("#user_esque")).css("border-color", "red");
              document.getElementById("botao_rede").disabled = true;
            }
            // Caso este email exista no banco de dados.
            else{
              $($("#user_esque")).css("border-color", "green");
              $('#exist-esque').popover('hide');
              $('#text-esque').popover('hide');
              document.getElementById("botao_rede").disabled = false;
            }
          })
        }
        // Email não válido
        else {
          $($("#user_esque")).css("border-color", "red");
          $('#text-esque').popover('show')
          $('#exist-esque').popover('hide')
          document.getElementById("botao_rede").disabled = true;
        }
      }
      // Campo em branco.
      else{
        $(this).css("border-color", "rgb(132, 46, 176)");
        document.getElementById("botao_rede").disabled = true;
        $('#text-esque').popover('hide')
        $('#exist-esque').popover('hide')
      }
    });
  });
</script>